[server]
port = <Your Port Number>  # example 8080

[server.database]
connectionString = <Your MongoDB Connection String>
databaseName = <Your database name>

[server.controller]
access_token_secret = <Your Access Token Secret goes here>
refresh_token_secret = <Your Refresh Token Secret goes here>
